<!DOCTYPE html>
<html>
  
  <head>
    <title>Blog App</title>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  </head>
  
  <body>

    <div class="ui fixed menu">
      
      <div class="ui container">

        <div class="header item"><i class="world icon"></i> Blog site</div>
        <a href="/" class="item">Home</a>
        <a href="/blogs/new" class="item">New post</a>
      </div>
    
    </div>
