<% include partials/header %>

<div class="ui main text container segment">

  <div class="ui huge header">Edit <%= post.title %></div>
  
  <form class="ui form" action="/blogs/<%= post._id %>?_method=PUT" method="POST">

    <div class="field">
      <label id="title">Title:</label>
      <input type="text" name="blog[title]" id="title" placeholder="Title" value="<%= post.title %>">
    </div>
    <div class="field">
      <label id="image">Image:</label>
      <input type="text" name="blog[image]" id="image" placeholder="Image" value="<%= post.image %>">
    </div>
    <div class="field">
      <label id="body">Body:</label>
      <textarea name="blog[body]" id="body" placeholder="Blog post content"><%- post.body %></textarea>
    </div>
    <button class="positive ui button">Save post!</button>
  </form>

</div>

<% include partials/footer %>