<% include partials/header %>

<div class="ui main text container">

  <div class="ui huge header">Blog app</div>
  
  <div class="ui top attached segment">
    
    <div class="ui divided items">
      
        <% blogs.forEach( post => { %>
          <div class="item">
            
            <div class="image">
              <img src="<%= post.image %>">
            </div>

            <div class="content">
              
              <a href = "/blogs/<%= post._id %>" class="header"><%= post.title %></a>
              
              <div class="meta">
                <span><%= post.created.toDateString() %></span>
              </div>

              <div class="description">
                <p><%- post.body.slice(0, 100) %>...</p>
              </div>
              
              <div class="extra">
                <a href="/blogs/<%= post._id %>" class="ui floated violet button">
                  Read More
                  <i class="right chevron icon"></i>
                </a>
              </div>
            
            </div>
        
          </div>  
        <% }); %>
    
    </div>
  
  </div>
</div>

<% include partials/footer %>