<% include partials/header %>

<div class="ui main text container segment">

  <div class="ui huge header">New Blog</div>
  
  <form class="ui form" action="/blogs" method="POST">
    <div class="field">
      <label id="title">Title:</label>
      <input type="text" name="blog[title]" id="title" placeholder="Title">
    </div>
    <div class="field">
      <label id="image">Image:</label>
      <input type="text" name="blog[image]" id="image" placeholder="Image">
    </div>
    <div class="field">
      <label id="body">Body:</label>
      <textarea name="blog[body]" id="body" placeholder="Blog post content"></textarea>
    </div>
    <button class="positive ui button">Add new post!</button>
  </form>

</div>

<% include partials/footer %>