<% include partials/header %>

<div class="ui main text container segment">
  
  <div class="ui huge header"><%= post.title %></div>
  
  <div class="ui top attached">
    <div class="item">
      
      <img class="ui centered rounded image" src="<%= post.image %>">
      
      <div class="content">
        <p><%= post.created.toDateString() %></p>
      </div>
      
      <div class="description">
        <p><%- post.body %></p>
      </div>

      <a href = "/blogs/<%= post.id %>/edit" class="ui blue basic button">edit</a>

      <form action="/blogs/<%= post._id %>?_method=DELETE" method="POST" id="delete">
        <button class="negative ui button">Delete</button>
      </form>
    
    </div>
  </div>

</div>

<% include partials/footer %>